# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Node / frontend stuff (if mixed project)
node_modules/
npm-debug.log
yarn-error.log

# Configs & secrets
.env
*.secret
*.pem

# Build & cache
*.egg-info/
.eggs/
*.log
*.out
*.pid
.cache/
.pytest_cache/
.mypy_cache/

# OS-specific files
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile

# IDEs
.vscode/
.idea/

# Others
dist/
build/
